@model MVC_1.Models.Funcionario

<h2>Cadastro de funcion치rios</h2>

<form class = "form-horizontal" asp-controller="Funcionarios" asp-action="Salvar" method="POST">
    @* Campo Id do tipo hidden para poder localizar objeto que j치 est치 no banco e poder editar *@
    <input type="hidden" asp-for="Id">
    <input type="text" class="form-control" asp-for="Nome" placeholder="Nome">
    <input type="number" class="form-control" asp-for="Salario" placeholder="Sal치rio"> 
    <input type="text" class="form-control" asp-for="Cpf" placeholder="CPF">  
    <button class="btn btn-success">Cadastrar</button>
</form> 