@model CasaDeShow.Models.Evento

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Evento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomeEvento" class="control-label"></label>
                <input asp-for="NomeEvento" class="form-control" />
                <span asp-validation-for="NomeEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacidade" class="control-label"></label>
                <input asp-for="Capacidade" class="form-control" />
                <span asp-validation-for="Capacidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorIngresso" class="control-label"></label>
                <input asp-for="ValorIngresso" class="form-control" />
                <span asp-validation-for="ValorIngresso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneroMusica" class="control-label"></label>
                @* <input asp-for="GeneroMusica" class="form-control" /> *@
                <select name="GeneroMusica">
                    <option value="Rock">Rock</option>
                    <option value="Pop">Pop</option>
                    <option value="Pagode">Pagode</option>
                    <option value="Samba">Samba</option>
                    <option value="Axe">Axé</option>
                    <option value="Gospel">Gospel</option>
                    <option value="Forro">Forró</option>
                    <option value="Funk">Funk</option>
                </select>
                <span asp-validation-for="GeneroMusica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

