
<br />
<address class="endereco">
    <p>
        Rua Ipiranga<br />
        São Vicente - SP - Brasil<br />
    </p>
</address>

<address class="endereco">
    <strong>E-mail GFT:</strong>   <a href="mailto:bsbo@gft.com">bsbo@gft.com</a><br />
    <strong>E-mail Pessoal:</strong> <a href="mailto:b.begliomini@gmail.com">b.begliomini@gmail.com</a>
</address>