@{
    ViewBag.Title = "Home Page";
}
    <main>

        <img class="bruno-img" src="~/imagens/bruno.jpg">

        <p class="paragrafo-inicio">
            Bruno Luis Begliomini Ataulo, 30 anos.<br>
            Sou estudante de Engenharia da computação, tecnologo em Automação Industrial e técnico em informática.
        </p>
    </main>
