@{
    ViewBag.Title = "About";
}

<table class="projetos-fotos">
    <tbody>
        Java
        <tr>
            <td>
                <a href="~/imagens/javaveiculo.JPG" target="_blank"><img src="~/imagens/javaveiculo.JPG"></a>
                <p class="produto-descricao">Java - Desafio 01
                    <a href="https://github.com/BrunoAtaulo/Java/tree/master/veiculo" target="_blank">Link GitHub</a></p>

            </td>
            <td>
                <a href="~/imagens/javaprojetoheranca.jpg" target="_blank"><img src="~/imagens/javaprojetoheranca.jpg"></a>
                <p class="produto-descricao">Java - Heranca
                    <a href="https://github.com/BrunoAtaulo/Java/tree/master/ProjetoHeranca" target="_blank">Link GitHub</a></p>
            </td>
            <td>
                <a href="~/imagens/javadesafio04.jpg" target="_blank"><img src="~/imagens/javadesafio04.jpg"></a>
                <p class="produto-descricao">Java - Polimorfismo
                <a href="https://github.com/BrunoAtaulo/Java/tree/master/ProjetoPolimorfismo" target="_blank">Link GitHub</a></p>
            </td>
            <td>
                <a href="~/imagens/javadesafioprova.jpg" target="_blank">
                    <img src="~/imagens/javadesafioprova.jpg">
                </a>
                <p class="produto-descricao">Java - Desafio prova
                    <a href="https://github.com/BrunoAtaulo/Java/tree/master/DesafioProva" target="_blank">Link GitHub</a></p>
            </td>
            <td>
                <a href="~/imagens/javadesafioprovaex4.JPG" target="_blank"></a><img src="~/imagens/javadesafioprovaex4.JPG">
                <p class="produto-descricao">Java - Desafio prova ex 4
                    <a href="https://github.com/BrunoAtaulo/Java/tree/master/DesafioProvaex4" target="_blank"</a>Link GitHub</p>
            </td>
        </tr>C#
        <tr>
            <td>
                <a href="~/imagens/csharpdesafio2.jpg" target="_blank"><img src="~/imagens/csharpdesafio2.jpg"></a>
                <p class="produto-descricao">
                    C# - Desafio 02
                    <a href="https://github.com/BrunoAtaulo/CSharp/tree/master/Desafio02" target="_blank"</a>Link GitHub</p>
            </td>
            <td>
                <a href="~/imagens/csharpdesafio3.jpg" target="_blank"><img src="~/imagens/csharpdesafio3.jpg"></a>
                <p class="produto-descricao">C# - Heranca
                    <a href="https://github.com/BrunoAtaulo/CSharp/tree/master/Desafio03" target="_blank"</a>Link GitHub</p>
            </td>
            <td>
                <a href="~/imagens/csharpdesafio4.JPG" target="_blank"><img src="~/imagens/csharpdesafio4.JPG"></a>
                <p class="produto-descricao">
                    C# - Polimorfismo
                    <a href="https://github.com/BrunoAtaulo/CSharp/tree/master/Desafio04" target="_blank"</a>Link GitHub
                </p>
            </td>
            <td>
                <a href="~/imagens/csharpdesafioprova.JPG" target="_blank">
                    <img src="~/imagens/csharpdesafioprova.JPG">
                </a>
                <p class="produto-descricao">
                    C# - Desafio prova
                    <a href="https://github.com/BrunoAtaulo/CSharp/tree/master/DesafioProva" target="_blank"</a>Link GitHub
                </p>
            </td>
            <td>
                <a href="~/imagens/csharpdesafioprovaex4.JPG" target="_blank">
                    <img src="~/imagens/csharpdesafioprovaex4.JPG">
                </a>
                <p class="produto-descricao">
                    C# - Desafio prova ex4
                    <a href="https://github.com/BrunoAtaulo/CSharp/tree/master/DesafioProvaex4" target="_blank"</a>Link GitHub
                </p>
            </td>
        </tr>
    </tbody>
</table>
