@{
    ViewBag.Title = "Home Page";
}
<main>
    <table class="tb-skills">
        <tbody>
            <tr>
                <td><img src="~/imagens/java.png" /></td>
                <td><img src="~/imagens/CSharp.png" /></td>
                <td><img src="~/imagens/HTMLCSSJS.png" /></td>
            </tr>
        </tbody>
    </table>
</main>