@model CasaDeShow.Models.Evento

@{
    ViewData["Title"] = "Comprar";
}

<div class="row">
    <div class="col-md-12">
        <div class="card text-white bg-dark mb-3">
                <div class="card-header"><h1 style="text-align: center">Comprar</h1></div>
                <div class="card-body">
                    <h4 class="card-title">
                        <form asp-action="Compra">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomeEvento" class="control-label">Evento: </label>
                <input readonly asp-for="NomeEvento" class="form-control" />
                <span asp-validation-for="NomeEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacidade" class="control-label">Capacidade: </label>
                <input readonly asp-for="Capacidade" class="form-control" />
                <span asp-validation-for="Capacidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label">Data: </label>
                <input readonly asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorIngresso" class="control-label">Valor do ingresso: </label>
                <input readonly asp-for="ValorIngresso" class="form-control" />
                <span asp-validation-for="ValorIngresso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CasadeshowId" class="control-label">Casa de show: </label>
                <select readonly asp-for="CasadeshowId" class="form-control">
            	@foreach (var item in ViewBag.CasaDeShow)
                {
                    <option value="@item.Id">@item.Nome</option>
                }
                </select>  
                <span asp-validation-for="CasadeshowId" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="GeneroMusica" class="control-label"></label>
                <input readonly asp-for="GeneroMusica" class="form-control">
                <span asp-validation-for="GeneroMusica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IngressosRestantes" class="control-label">Ingressos Restantes: </label>
                <input readonly asp-for="IngressosRestantes" class="form-control"/>
                <span asp-validation-for="IngressosRestantes" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label asp-for="Quantidade" class="control-label">Quantidade de ingressos: </label>
                <input asp-for="Quantidade" class="form-control" value="0" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Comprar" class="btn btn-success" /> |
                <a class="badge badge-primary" asp-action="Index">Voltar para a lista</a>
            </div>
        </form>
    </div>
</div>